<h1>Reset Password</h1>
<p>Lost your password no problem we will send you a email with a password reset link. Just click the link and change your password.</p> 
<%= form_for @user, :url => send_password_reset_account_path do |f| %>
	<div class="input">
		<%= f.label :email %>
		<%= f.text_field :email, :required => true %>
	</div>
	<%= f.submit "Send Activation", :class => :button %>
<% end %>